@import "./reset.css";
@import "./left.css";
@import "./_funcs.css";
@import "./right.css";
@import "./centro.css";

input[type="text"], input[type="number"], textarea {
    width: 90%;
    border-radius: 5px;
    padding: 10px 15px; 
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #31CB00;
    outline: 0;
    color: white;
    font-size: 16px;
}
.principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1B2021;
} 
textarea {
    min-height: 150px;
    resize: none;
}
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #31CB00;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    outline: 0;
}
select:hover {
    color: black;
}